
/* MIX */

body{
  background-color: #bcf3d0;
}

.container {
  text-align: center;
}

.img-box{
  height: 150px;
}

[class*="col-xs"] h3
{
  margin-bottom: 20px;
}
/* BLOCCO LEZIONI */

#lezioni .col-lg-6{
  padding: 70px;
}

#lezioni .col-xs-12{
  padding: 20px;
}

/* fomrattazione immagini */

.img-box img{
  height: 100%;
}
/* /fomrattazione immagini */

/* text layout */

.container h2{
  font-size: 44px;
  margin: 40px 0;
}

#lezioni .col-lg-6 h3{
  margin: 15px 0;
  font-size: 32px;
}
#lezioni .col-lg-6 p{
  line-height: 24px;
  font-size: 18px;
}

#lezioni .col-xs-12 h3{
  font-size: 38px;
}
#lezioni .col-xs-12 p{
  font-size: 24px;
}




/* BLOCCO STEPS */

#steps .img-box {
  margin: 20px 0;
}

#steps .col-lg-4{
  padding: 24px;
}

/* text layout */

#steps .col-lg-4 h3{
  margin-bottom: 20px;
  font-size: 38px;
}

#steps .col-lg-4 p{
  font-size: 22px;
}






/* BLOCCO PERCHE */
/* #why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
} */

/* COMMON */
